
body{
    font-family: 'Roboto', sans-serif; /* Google Font */
    background-color: #f4f4f9;
    min-height: 1000px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* start header */
header {
    background: #6f42c1;
    padding: 20px 0;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #d3a6f7;
}
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin-bottom: 5px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #6f42c1;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-icon {
        display: flex;
    }

    .menu.active {
        display: flex;
    }
}
/* end header */

/* start fonts */
p{
    margin-bottom: 0.7rem;
}
.h6{ font-size: 24px; font-weight: 600; }
.h5{ font-size: 26px; font-weight: 600; }
.h4{ font-size: 28px; font-weight: 600; }
.h3{ font-size: 30px; font-weight: 600; }
.h2{ font-size: 32px; font-weight: 600; }
.h1{ font-size: 34px; font-weight: 600; }

.fs-1{ font-size: 12px; }
.fs-2{ font-size: 14px; }
.fs-3{ font-size: 16px; }
.fs-4{ font-size: 18px; }
.fs-5{ font-size: 20px; }
.fs-6{ font-size: 22px; }
.fw-1{ font-weight: 200; }
.fw-2{ font-weight: 300; }
.fw-3{ font-weight: 400; }
.fw-4{ font-weight: 500; }
.fw-5{ font-weight: 600; }
.fw-6{ font-weight: 700; }
.letter-spacing-1{ letter-spacing: 0.2px; }
.letter-spacing-2{ letter-spacing: 0.3px; }
.letter-spacing-3{ letter-spacing: 0.4px; }
.letter-spacing-4{ letter-spacing: 0.5px; }
.letter-spacing-5{ letter-spacing: 0.6px; }
.letter-spacing-6{ letter-spacing: 0.7px; }

.line-height-1{ line-height: 1.0em;}
.line-height-2{ line-height: 1.1em;}
.line-height-3{ line-height: 1.2em;}
.line-height-4{ line-height: 1.3em;}
.line-height-5{ line-height: 1.4em;}
.line-height-6{ line-height: 1.5em;}


.text-white{ color: white; }
.text-black{ color: black; }
.text-darkgray{ color: rgb(36, 36, 36); }

.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }
/* end fonts */

/* start margin && padding */
.m-1 { margin: 4px; }
.m-2 { margin: 6px; }
.m-3 { margin: 8px; }
.m-4 { margin: 12px; }
.m-5 { margin: 16px; }
.m-6 { margin: 20px; }

.ml-1 { margin-left: 4px; }
.ml-2 { margin-left: 6px; }
.ml-3 { margin-left: 8px; }
.ml-4 { margin-left: 12px; }
.ml-5 { margin-left: 16px; }
.ml-6 { margin-left: 20px; }

.mr-1 { margin-right: 4px; }
.mr-2 { margin-right: 6px; }
.mr-3 { margin-right: 8px; }
.mr-4 { margin-right: 12px; }
.mr-5 { margin-right: 16px; }
.mr-6 { margin-right: 20px; }

.mt-1 { margin-top: 4px; }
.mt-2 { margin-top: 6px; }
.mt-3 { margin-top: 8px; }
.mt-4 { margin-top: 12px; }
.mt-5 { margin-top: 16px; }
.mt-6 { margin-top: 20px; }

.mb-1 { margin-bottom: 4px; }
.mb-2 { margin-bottom: 6px; }
.mb-3 { margin-bottom: 8px; }
.mb-4 { margin-bottom: 12px; }
.mb-5 { margin-bottom: 16px; }
.mb-6 { margin-bottom: 20px; }

.p-1 { padding: 4px; }
.p-2 { padding: 6px; }
.p-3 { padding: 8px; }
.p-4 { padding: 12px; }
.p-5 { padding: 16px; }
.p-6 { padding: 20px; }

.pl-1 { padding-left: 4px; }
.pl-2 { padding-left: 6px; }
.pl-3 { padding-left: 8px; }
.pl-4 { padding-left: 12px; }
.pl-5 { padding-left: 16px; }
.pl-6 { padding-left: 20px; }

.pr-1 { padding-right: 4px; }
.pr-2 { padding-right: 6px; }
.pr-3 { padding-right: 8px; }
.pr-4 { padding-right: 12px; }
.pr-5 { padding-right: 16px; }
.pr-6 { padding-right: 20px; }

.pt-1 { padding-top: 4px; }
.pt-2 { padding-top: 6px; }
.pt-3 { padding-top: 8px; }
.pt-4 { padding-top: 12px; }
.pt-5 { padding-top: 16px; }
.pt-6 { padding-top: 20px; }

.pb-1 { padding-bottom: 4px; }
.pb-2 { padding-bottom: 6px; }
.pb-3 { padding-bottom: 8px; }
.pb-4 { padding-bottom: 12px; }
.pb-5 { padding-bottom: 16px; }
.pb-6 { padding-bottom: 20px; }
/* end margin && padding */

/* start containers */
.container-sm {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-full{
    width: 100%;
}
@media (min-width: 576px) {
    .container-sm {
        max-width: 940px;
    }
}

@media (min-width: 768px) {
    .container-md {
        max-width: 1220px;
    }
}
/* end containers */

/* start row && col */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col { flex: 1 0 0%; }
.col-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
.col-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
.col-3 { flex: 0 0 25%; max-width: 25%; }
.col-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
.col-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
.col-6 { flex: 0 0 50%; max-width: 50%; }
.col-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
.col-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
.col-9 { flex: 0 0 75%; max-width: 75%; }
.col-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
.col-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
.col-12 { flex: 0 0 100%; max-width: 100%; }

@media (min-width: 576px) {
    .col-sm-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-sm-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-sm-3 { flex: 0 0 25%; max-width: 25%; }
    .col-sm-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-sm-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-sm-6 { flex: 0 0 50%; max-width: 50%; }
    .col-sm-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-sm-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-sm-9 { flex: 0 0 75%; max-width: 75%; }
    .col-sm-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-sm-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-sm-12 { flex: 0 0 100%; max-width: 100%; }
}

@media (min-width: 768px) {
    .col-md-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-md-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-md-3 { flex: 0 0 25%; max-width: 25%; }
    .col-md-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-md-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-md-6 { flex: 0 0 50%; max-width: 50%; }
    .col-md-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-md-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-md-9 { flex: 0 0 75%; max-width: 75%; }
    .col-md-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-md-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-md-12 { flex: 0 0 100%; max-width: 100%; }
}
@media (min-width: 968px) {
    .col-lg-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
    .col-lg-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
    .col-lg-3 { flex: 0 0 25%; max-width: 25%; }
    .col-lg-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
    .col-lg-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
    .col-lg-6 { flex: 0 0 50%; max-width: 50%; }
    .col-lg-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
    .col-lg-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
    .col-lg-9 { flex: 0 0 75%; max-width: 75%; }
    .col-lg-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
    .col-lg-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
    .col-lg-12 { flex: 0 0 100%; max-width: 100%; }
}
/* end row && col */

/* start displays */
.d-flex {
    display: flex;
}
.j-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.align-items-stretch {
    align-items: stretch;
}
/* end displays */

/**/

.accordion-btn {
    background-color: transparent;
    color: rgb(32, 32, 32);
    cursor: pointer;
    padding: 14px;
    text-align: left;
    border: 2px solid #6f42c1;
    border-radius: 50px;
    outline: none;
    width: 100%;
    transition: background-color 0.3s;
}
.accordion-btn:hover {
    background-color: #6f42c1;
    color: white;
}
.accordion-content {
    display: none;
    padding: 15px;
    overflow: hidden;
    background-color: #f1f1f1;
}
.accordion-btn.active + .accordion-content {
    display: block;
}
/**/

/* start cap */
.cap{
    background-color: #6f42c1;
    /*background-image: url('/img/BG_img_1.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.cap-control{

}
/* end cap */

/* start card */
.card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%; /* Adjust width as needed */
}

.card-img-top {
    width: 100%;
    height: auto;
    display: block;
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    color: #6f42c1;
    letter-spacing: 0.5px;

}

.card-text {
    margin-bottom: 1.20rem;
    color: #6c757d;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.4em
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #6f42c1;
    background-color: transparent;
    border-color: #6f42c1;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #5a2d91;
    border-color: #4e1f75;
}
/* end card */

/* start social-icons */
.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}
.social-icons li {
    display: inline;
}
.social-icons a {
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #007bff;
}
/* end social-icons */

/* start footer */
.footer{
    background-color: black;
    width: 100%;
    min-height: 200px;
}
/* end footer */